.container {
  display: grid;
  gap: 10px;
}

.button {
  background: var(--foreground);
  border: var(--foreground) 2px solid;
  color: var(--background);
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  cursor: pointer;
  height: 2em;
  line-height: 0;
  transition: all ease-in-out 100ms;

  &:disabled {
    height: 0;
    padding: 0;
    filter: brightness(0.5);
    cursor: auto;
    overflow: hidden;
    border: 0;
  }
}

.handContainer {
  display: flex;
  flex-direction: column;
  border: var(--foreground) 1px solid;
  padding: 8px;
  border-radius: 2px;

  &.inverted {
    flex-direction: column-reverse;
    direction: rtl;
  }
}

.selectorContainer {
  border: var(--foreground) 1px solid;
  padding: 0;
  display: grid;
  gap: 6px;
  max-height: 0;
  overflow: hidden;
  transform-origin: top;
  transform: rotateX(90deg);
  transition: all 0.3s ease-in-out;
}

.openSelector {
  padding: 8px;
  max-height: 1000px;
  transform: rotateX(0deg);
}
