.CardButton {
  border: var(--foreground) 2px solid;
  border-radius: 5px;
  max-width: 100px;
  text-align: center;
  padding: 0.5em 0;
  & p {
    margin: 0;
    min-height: 1.15em;
  }
}

.pointer {
  cursor: pointer;
}

.empty {
  border-style: dotted;
}

.CardValue {
  font-size: 1em;
  @media (min-width: 920px) {
    font-size: 1.2em;
  }
}

.CardSuit {
  font-size: 1.8em;
  @media (min-width: 920px) {
    font-size: 2.4em;
  }
}

.selected {
  filter: brightness(0.5);
}
