.CardButton {
  border: var(--foreground) 2px solid;
  border-radius: 5px;
  max-width: 100px;
  text-align: center;
  padding: 0.5em 0;

  & p {
    margin: 0;
    min-height: 1.15em;
  }
}

.pointer {
  cursor: pointer;
}

.CardValue {
  font-size: 1em;
  @media (min-height: 700px) {
    font-size: 1.2em;
  }
}

.CardSuit {
  font-size: 1.3em;
  @media (min-height: 700px) {
    font-size: 1.5em;
  }
}

.empty {
  border-style: dotted;
}

.unavailable {
  filter: brightness(0.5);
}

.selected {
  background: var(--foreground);
  color: var(--background);
}
