:root {
  --background: #ffffff;
  --disabled: #adadad;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --disabled: #4b4b4b;
    --foreground: #ededed;
  }
}

body,
.docs-story {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
